:root {
  --light: #3d82db;
  --dark: #13253c;
  --text: #2c5891;
  --white: #ffffff;
}
.containerRestablecer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: linear-gradient(
    100deg,
    rgba(104, 151, 212, 0.8) 20%,
    rgba(255, 255, 255, 0.8)
  );
}

.containerRestablecer2 {
  width: 40%;
  height: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateY(-15%);
}
.restablecerTitle {
  position: relative;
  color: var(--text);
}

.containerRestablecer3 {
  position: relative;
  display: flex;
  background: var(--white);
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 100%;
  height: 80%;
}

.logoRestablecer {
  position: absolute;
  font-size: 4em;
  margin: auto;
  right: 7%;
  top: 10%;
}
.logoRestablecer1 {
  position: absolute;
  font-size: 3em;
  margin: auto;
  right: 7%;
  top: 10%;
}

.titleinput {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: left;
  font-size: 1.7vw;
}

#titlehide1{
    display:none;
}

.modalRestablecer {
  width: 80%;
  display:flex;
  flex-flow: column wrap;
}



.botonesRestablecer {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.btn_restablecer {
  margin-top: 3%;
  width: 40%;
}
#btnrest1 {
  background-color: #3d82db;
}

#btnrest2 {
  background-color: #13253c;
}

.BtnRestablecer { 
margin-top: 3%;
width: 40%;
}
