:root {
  --azulOscuro: #2c5891;
  --azulClaro: #3d82db;
  --rojo: #a01c48;
  --naranja: #f58549;
  --blanco: #edf5ff;
  --verde: #14a02c;

  --gris: #969696;
  --grisOscuro: #707070;
  --grisClaro: #edf5ff;
}

.contenedorTable {
  position: relative;
  background: var(--azulClaro);
  width: 987px;
  height: 424px;
  margin: auto;
  padding: 10px;
  top: 20%;
  left: 10%;
  border-radius: 20px;
  overflow: hidden;
}
.tableTitle {
  width: 100%;
  background: var(--azulClaro);
  position: relative;
  top: 0px;
}
h2 {
  font-size: 2.5vw;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}
#tableTitle {
  color: var(--blanco);
  size: auto;
  font-size: 3rem;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: "Ubuntu";
}
.tableModel {
  position: relative;
  width: 100%;
  height: 70%;
  overflow: auto;
}

table {
  width: 100%;
}
th {
  top: 0;
  size: auto;
  font-size: 1.5rem;
}

th,td {
  text-align: center;
  padding: 11px;
  color: white;
}


td {
  border-bottom: 0.3px solid var(--azulOscuro);
}

tr:hover td {
  background-color: var(--azulOscuro);
  color: white;
}

.tableModel::-webkit-scrollbar {
  width: 12px;
}
.tableModel::-moz-scrollbar {
  width: 12px;
}

.tableModel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(44, 88, 145, 0.6);
}

.btnIcon {
  background: transparent;
  padding: 0;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
}

#calendar:hover {
  background: transparent;
  color: var(--naranja);
}

#delete:hover {
  background: transparent;
  color: var(--rojo);
}

#edit:hover {
  background: transparent;
  color: var(--verde);
}

.btnAdd {
  background: var(--azulClaro);
  width: 183px;
  height: 44px;
  border-radius: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: relative;
  top: 15%;
  left: 90%;
}

.add {
  color: white;
  font-size: 1.2em;
  margin-right: 5px;
}

.btnAdd:hover {
  background: #2c5891;
}

.editar-odontolog {
  position: fixed;
  top: 20%;
  left: 20%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
  color: #000;
}

.editar-odontolog h1 {
  color: #000;
}

.width_form {
  width: 80%;
}

.flexHorarioTitle{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flexHorarioTitle p{
  color: black;
  size: auto;
  font-size: 2.5em;
  font-family: "Ubuntu";
  text-align: center;
  margin-bottom:25px;
  position:relative;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  width:70%;

}
.contenedorTableHorario{

  background: var(--azulClaro);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  height: 300px; 
  border-radius: 20px;

}

.thHorario{
  padding: 20px;
}
.tableModelHorario {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.tableModelHorario::-webkit-scrollbar {
  width: 15px;
}
.tableModelHorario::-moz-scrollbar {
  width: 12px;
}

.tableModelHorario::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(44, 88, 145, 0.6);
}



.iconoHorario{
  position:absolute;
  top:10%;
  right:15%;
  color: black;
  font-size: 2em;
  
}

.dateHorarioModal{
  border:none !important;
}

.ReactModal__Overlay{
  background-color: rgba(104, 151, 212, 0.7) !important;
} 

.ReactModal__Content{
  padding:40px !important;
  background: var(--blanco) !important;
  border-radius: 30px !important;
  border:none !important;
  width:50%;
}

.BotonesHorario{
  display:flex;
  justify-content: space-around;
}

.BtnHorario{
  margin-top: 3%;
  width: 30%;
  background-color: var(--dark) !important;
  border:0;
  padding: 10px;
  font-size: 20px;
  border-radius:10px;
}


